body {
  font-family: sans-serif;
}

.list li {
  margin: 0.75rem 0;
}

.info {
  color: rgb(0, 49, 0);
  /* background-color: rgb(230, 246, 230); */
  padding: 1rem;
  border-radius: 4px;
}

.faqInfo {
  color: rgb(0, 49, 0);
  border-radius: 4px;
  margin-top: 1.5rem;
}

.accordion {
  border-top: 1px solid #ddd;
  margin-top: 1rem;
}

.item {
  /* border-bottom: 1px solid #ddd; */
  margin-bottom: 4px;
  border: 1px solid #ddd;
  border-bottom: none;
}

.itemExpanded {
  border-top: 1px solid black;
  border-bottom: 1px solid #ddd;
  background-color: #fafafa;
}

.itemBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 10px 40px 10px 20px;
  font-size: 1rem;
  text-align: left;
  color: #000;
  /* color: #007bff; */
  background-color: #fff;
  /* border: 1px solid #ddd; */
  border: none;
  border-bottom: 1px solid #ddd;
}

.itemBtn:hover {
  background-color: #e5e5e5;
}

/* .itemBtnExpanded {
  background-color: #fff;
} */

.itemContent {
  transition: height 0.25s cubic-bezier(0, 0, 0, 1);
}

.itemPanel {
  padding: 1rem;
}

.chevron {
  margin-left: auto;
  transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
}

.itemBtnExpanded .chevron {
  transform: rotate(180deg);
}