/* BODY */
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

/* HEADER */
header {
  background-color: #060d17;
  color: #fff;
}
.header-container {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
}

.header-logo {
  /* flex: 1;
  text-align: center; */
}


/* NAVIGATION BAR */



/* NAVIGATION BAR: DROP DOWN MENU */
.dropdown {
  display: none;
}

.show {
  display: block;
}

.arrow {
  border: solid #060d17;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}